.formUserChangePassword {
   width: 500px;
   margin: var(--marginContent) 0;
   padding: 15px 20px;
   border: 1px solid var(--borderColor);
}

.formUserChangePassword h3 {
   font-size: 23px;
   text-align: center;
   color: var(--colorPrim);
}

.formUserChangePassword button {
   margin-top: 20px;
   padding: 12px 8px;
   background-color: var(--colorPrim);
   color: white;
   font-family: var(--fontPrim);
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;
   outline: none;
   border: 1px solid var(--colorPrim);
   border-radius: var(--fixBorderRadius);
   transition: .2s ease;
}

.formUserChangePassword button:hover {
   opacity: .7;
}