button.btnTable:hover { opacity: 0.8; }

button.acceptBtn { background-color: var(--colorPrim); }

button.primBtnDark {
    background-color: var(--colorPrimDark);
}

button.editBtn {
    background-color: var(--colorYellow);
    color: #393939;
}

button.delBtn { background-color: var(--colorRed); }

button.restoreBtn { background-color: var(--colorYellow); }

button.subBtn {
    border: 1px solid var(--colorPrim);
    color: var(--colorPrim);
    background-color: transparent;
}
button.subBtn:hover {
    background-color: var(--colorPrimDark);
    color: white;
    border-color: var(--colorPrimDark);
}

button.greenBtn {
    background-color: var(--colorGreen);
    
}

button.alternateGreenBtn {
    background-color: transparent;
    color: var(--colorGreen);
    border: 1px solid var(--colorGreen);
}

button.alternateGreenBtn:hover {
    background-color: var(--colorGreen);
    color: white;
}

button.inactiveBtn {
    pointer-events: none;
    user-select: none;
    background-color: var(--colorInactive);
    align-self: start; 
}

.customToolTips {
    font-family: var(--fontPrim) !important;
    font-weight: bold !important;
}