/* 
Estilização textual
*/

h1.mainTitle {
   font-size: var(--fontSizeTitle);
   margin: var(--fontMargin);
   margin-top: 20px;
}

.textMargin {
   margin: var(--marginContent);
}

.textInfoNotAvaliable {
   font-family: var(--fontPrim);
   font-size: 16px;
   margin: var(--marginContent);
}

span.errorMessage {
   font-size: 14px;
   font-weight: 500;
   color: var(--colorRed);
   user-select: none;
}

/* Estilização de Layouts */
.layoutFormContentSpacing {
   display: grid;
   gap: 20px;
}

.layoutTableSpacing {
   display: grid;
   gap: 1em;
}


/* Estilização de Formulários */
.footerButtonContainerForForm {
   display: flex;
   justify-content: end;
   gap: 15px;
   background-color: #f5f5f5;
   margin: 0 -20px -10px;
   padding: 15px 20px;
}


/* 
===================================================================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        BUTTONS CUSTOMIZADOS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
===================================================================
*/

:is(.buttonFormMain-style1, .buttonFormSec-style1) {
   padding: 10px 15px;
   font-size: 1em;
   transition: .2s ease;
}

.buttonFormMain-style1 {
   background-color: var(--colorPrim);
   border: 1px solid var(--colorPrim);
   
}

.buttonFormSec-style1 {
   background-color: #e0e0e0;
   border: 1px solid #e0e0e0;
   color: #333;
}

.buttonFormMain-style1:hover, 
.buttonFormSec-style1:hover {
   opacity: .7;
}

/* 
===================================================================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        INPUTS CUSTOMIZADOS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
===================================================================
*/
.inputCollection__dual {
   display: flex;
   gap: 15px;
}

@media only screen and (max-width: 575px) {
   .layoutFlexCollectionCard {
      justify-content: center;
   }

   .textForTableDataCounter,
   .textInfoNotAvaliable {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      text-align: center;
   }
}
